.login-form {
  padding: 30px;
  background-color: white;

  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.login-form h2{
  color:#c9983a;
} 
.login-form input {
  padding: 15px;
  color: white;
  border: none;
  background-color: #fdffdb;
  border-radius: 20px;
  margin-bottom: 10px;
  background-color: #c9983a;
  outline: none;
  font-family: "Faculty Glyphic", sans-serif;
}
input::placeholder {
  color: white;
}
