.user-search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
}

.user-search-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: white;
  font-size: 16px;
  margin-bottom: 15px;
  box-sizing: border-box;
  outline: none;
  color: #c9983a; /* Input text color */

  /* Placeholder color */
  &::placeholder {
    color: #c9983a;
    opacity: 1;
  }
}

.user-search-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-search-container li {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Spread elements across the li */
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.user-search-container li:last-child {
  border-bottom: none;
}

.user-search-container img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.user-search-container h4 {
  flex-grow: 1; /* Allow the username to take remaining space */
  margin: 0 15px; /* Add spacing between image and button */
  font-size: 16px;
  color: #213547;
  text-align: left;
}

.user-search-container button {
  background-color: #c9983a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color color 0.3s;
}

.user-search-container button:hover {
  background-color: #f0f0b0; /* Slightly darker shade for hover effect */
  color: #c9983a;
}
